// fonts
$main-font: 'Raleway';
// colors
$main-color: #FFFFFF;
$accent-color: #FFFFFF;
// other
$anim-time: 300ms;
$breakpoint-xl: 1680px;
$breakpoint-md: 1200px;
$breakpoint-sm: 767px;
$breakpoint-xs: 390px;