.example {
    padding: 7rem 0;
    background-color: #0c0d12;

    @media screen and (max-width: $breakpoint-md) {
        padding-top: 5rem;
    }
}

.example__title {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 3rem;

    @media screen and (max-width: $breakpoint-md) {
        text-align: center;
    }

    @media screen and (max-width: $breakpoint-sm) {
        font-size: 3.2rem;
    }
}

.example__list {
    display: flex;
    align-items: stretch;
    gap: 3rem;
    flex-wrap: wrap;
    margin-bottom: 5rem;

    @media screen and (max-width: $breakpoint-md) {
        margin-bottom: 4rem;
    }

    @media screen and (max-width: $breakpoint-sm) {
        gap: 2rem;
    }
}

.example__item {
    position: relative;
    width: calc((100% - 3rem) / 2);
    height: 31rem;
    overflow: hidden;
    border-radius: 1rem;
    cursor: pointer;

    iframe {
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width: $breakpoint-md) {
        height: 18.5rem;
    }

    @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
        height: 18rem;
    }

    &:hover {
        .example__name {
            opacity: 1;
            visibility: visible;
        }

        .example__poster::before {
            background-color: rgba(12, 13, 18, 0.7294117647);
        }

        .example__play {
            opacity: 1;
            visibility: visible;
        }
    }
}

.example__poster {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 1rem 3rem #0c0d12;
        z-index: 1;
        transition-duration: 300ms;
    }

    &.is-video {
        opacity: 0;
        visibility: hidden;
        display: none;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.example__name {
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 2;

    font-size: 2.4rem;

    transition-duration: 300ms;
    opacity: 0;
    visibility: hidden;
}

.example__play {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    z-index: 2;
    width: 3.6rem !important;
    height: 3.6rem !important;
    transition-duration: 300ms;
    opacity: 0;
    visibility: hidden;
}

.example__all {
    margin: 0 auto;

    width: 24rem;
    height: 6rem;
    background-color: #FFFFFF;
    border-radius: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #0c0d12;
    font-size: 2.8rem;
    text-decoration: none;
    font-weight: 700;
    border: .2rem solid #FFFFFF;
    transition-duration: $anim-time;

    &:hover {
        background-color: transparent;
        color: #FFFFFF;
    }

    @media screen and (max-width: $breakpoint-md) {
        font-size: 2.4rem;
        font-weight: 500;
        width: 20rem;
        height: 5.4rem;
    }

    @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
    }
}